<div class="container-fluid d-flex justify-content-center">
       
        <div class="wrapper fadeInDown login">
                <div id="formContent">
                  <!-- Tabs Titles -->
              
                  <!-- Icon -->
                  <div class="fadeIn first">
                    <img src="assets\login.jpg" id="icon" alt="Icon" class="iconLogin"/>
                  </div>
              
                  <!-- Login Form -->
                  <form>
                    <input type="text" id="login" class="fadeIn second" name="login" placeholder="E-mail">
                    <input type="password" id="password" class="fadeIn third" name="login" placeholder="Senha">
                    <input type="submit" class="fadeIn fourth" value="Entrar">
                  </form>
              
                  <!-- Remind Passowrd -->
                  <div id="formFooter">
                    <a class="underlineHover" href="#">Esqueceu sua senha?</a>
                  </div>
              
                </div>
              </div>

</div>